<form action="/figures" method="post">
  <label for="figure_name">Figure: </label>
  <input id="figure_name" type="text" name="figure[name]">
  
  <label for="landmark_name">Landmark: </label>
  <input id="landmark_name" type="text" name="landmark[name]">
  
  <label for="title_name">Title: </label>
  <input id="title_name" type="text" name="title[name]">

  <input type="submit" value="submit">
</form>
